*, html {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

nav {
    padding: 34px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 64px;
}

/* li {
    margin: 10px;
} */